
body {
  background: #F3A2EB;
  font-family: "Poppins", sans-serif;
}

.card-space {
  width: 860px;
  margin: 2em auto;
	background: #FCFBED;
	border-radius: 5px;
	height: 85vh;
	width: 85vw;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.16), 0 4px 8px rgba(0, 0, 0, 0.23);
	text-align: center;
	display: flex;
	flex-direction: column;
	justify-content: center;
}



.titulo-principal {
  text-align: center;
  font-size: 2em;
  margin: 0 0 1em;
}

.card-space p {
  font-size: 16px;
}


.YouTube {
  width: 560px;
  margin: 6em auto 2em auto;
}

.YouTube p {
  margin: 1em auto;
  text-align: center;
  font-size: 26px;
}

.YouTube iframe {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.16), 0 4px 8px rgba(0, 0, 0, 0.23);
}



@media screen and (max-width: 480px) {
  .card-space, .YouTube {
    width: 90%;
  }

}
